@import "tailwindcss";

@layer base {
  body {
    @apply bg-background text-white antialiased;
  }
}

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-primary: #3b82f6;
  --color-accent: #8b5cf6;
  --color-success: #22c55e;
  --color-error: #ef4444;
}
